body {
    font-family: sans-serif;
}

header{
    border: 3px solid blue;
    border-radius: 10px;
    padding: 8px;

}

header a {border: 3px solid darkblue;
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    }

h1{
    text-align: center;
    font-family: segoe print;  color: rgb(154, 151, 255); /* Цвет заливки текста */
  -webkit-text-stroke: 2px rgb(13, 0, 160); /* Толщина и цвет обводки */
  font-size: 40px;
}

footer {
    background-color: rgb(178, 178, 255);
    text-align: center;
    border: 5px solid black;
    background-color: black;
    border-radius: 30px;
}
.cont{color:white}
.conts { 
    border:2px solid rgb(154, 151, 255);
    border-radius: 5px;
    background-color: rgb(154, 151, 255);
}

.f{ 
    padding: 13px;
    background-color: rgb(154, 151, 255);
    border: 5px solid darkblue;
    border-radius: 20px;
}

.glav {
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 3px;
    background-color: white;
    color: darkblue;
    text-decoration: none;
}
.bbbb {
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    background-color: darkblue;
    color:white;
}
main { font-size:20px;
margin: 5px}

a {border: 2px solid darkblue;
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    background: darkblue;
    color:white;}


